@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'myFont';
  src: url(/assets/operius-mono.ttf); 
}
.font-operius{
  font-family: myFont;
}
@keyframes flickering {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.3;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flickering {
  animation: flickering 2s infinite;
  text-shadow: 0 0 8px #eef4a0, 0 0 15px #e3e9cd, 0 0 20px #f8ee94;
}

.popIn {
  animation: popIn 0.5s ease forwards; 
}

.loginButton,
.logoutButton {
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid #ff007f;
  background-color: transparent;
  color: #00ffff;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginButton:hover,
.logoutButton:hover {
  background-color: #ff007f;
  color: #000;
  box-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f;
}

.mobileMenu {
  animation: slideDown 0.5s ease-out forwards;
}
.neonEffect {
  position: relative;
  color: #00ffff; 
  text-shadow: 0 0 5px #c866e3, 0 0 10px #de6fe6, 0 0 20px #e9c3f2;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.neonEffect:hover {
  transform: scale(1.1);
  text-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    text-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
  }
  50% {
    opacity: 0.8;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 35px #00ffff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
  }
}
