@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;900&display=swap');


body{
    overflow-y: auto;
  }

.card-hover {
  transition: transform 0.25s ease, filter 0.25s ease;
}

.card-desc{
    font-family: 'Orbitron', sans-serif;

}

.card-hover:hover {
  transform: scale(1.08);
}


.card-hover:hover {
  filter: drop-shadow(0 0 12px white) drop-shadow(0 0 22px white);
}
