.powerups-bg{
    background-image: url('/public/assets/powerupsbg.jpeg');
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
   
}

 /* .powerups-available {
  position: relative;
  font-family: 'Megatech2', sans-serif;
  font-size: 0.5rem;
  letter-spacing: 2px;
  color:#00d65c;              
  z-index: 1;
} */

/* GLOW LAYER */
.powerups-available::before {
  content: "PowerUps Available"; 
  position: absolute;
  inset: 0;
  color: #00d65c;

  filter: blur(16px);          /* glow softness */
  opacity: 0.9;

  z-index: -1;
}