
.bg-dark-update-blue {
    background-color: #0d0d25;
    color: #f2e0d6;
    font-family: 'Press Start 2P', cursive;
  }
  
  .update-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border: 2px solid #f2e0d6;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 25px #f39c12, 0 0 35px #f39c12;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: #f7d716; /* Retro neon yellow text */
    text-shadow: 0 0 5px #f7d716, 0 0 10px #f39c12, 0 0 15px #e67e22;
    animation: neon-border-glow 2s infinite alternate;
  }
  
  /* Add a pulsing animation to the border for the neon glow */
  @keyframes neon-border-glow {
    0% {
      box-shadow: 0 0 10px #f7d716, 0 0 20px #f39c12, 0 0 30px #e67e22;
    }
    100% {
      box-shadow: 0 0 20px #f7d716, 0 0 30px #f39c12, 0 0 40px #e67e22;
    }
  }
  
  /* Optional: Add hover effect for more interaction */
  .update-container:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 25px #f7d716, 0 0 35px #f39c12, 0 0 45px #e67e22;
  }
  

  .updateHeader {
    color: #f2e0d6;
    text-align: center;
    position: relative;
    text-shadow: 0 0 8px #f2e0d6, 0 0 15px #ff99cc;
    margin-bottom: 20px;
  }
  .updateItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Press Start 2P', cursive;

  }
  
  .scoreUpdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151540;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #f2e0d6;
    color: #f2e0d6;
    font-size: 0.8rem;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  }

  .scoreUpdate .player {
    font-weight: bold;
    color: #00ff99;
    text-shadow: 0 0 5px #00ff99;
  }
  
  
 
  .scoreUpdate .points {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Press Start 2P', cursive;
  }
  
  .points.increase {
    color: #00ff00;
    text-shadow: 0 0 8px #00ff00;
  }
  
  .points.decrease {
    color: #ff3333;
    text-shadow: 0 0 8px #ff3333;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  